body {
    h1 {
        color: #2073bf;
        text-align: center;
    }
    h2 {
        color: #2073bf;
        text-align: center;
    }

    .s28 {
        font-size: 28px;
    }

    .font {
        font-family: 'Dancing Script', cursive;
    }

    .cadre {
        overflow: hidden;
        width: 400px;
        margin: 0 auto;
        border-radius: 15px;
        border: solid 3px #6c6159;
        padding: 10px;
        margin-bottom: 60px;
        background-color: #fffdf2;
        padding-left: 120px;
    }
    .center {
        text-align: center !important;
    }
    .centrer {
        margin: 0 auto !important;
    }
    .inherit {
        text-align: inherit !important;
    }
    .error {
        ul {
            li {
                list-style:none;
                color:#ff6b00;
            }
        }
    }

    .image {
        display:block;
        width: 350px;
        margin: 0 auto;
        border-radius: 5px;
        border: solid 2px #AA3333;
    }

    .recipe-list {
        font-family: 'Dancing Script', cursive;
        font-size: 18px;
        color: black;
        &:hover {
            color:orchid;
            text-decoration: none;
        }
    }

    .btn-back {
        padding: 10px 15px;
        font-family: 'Courgette', cursive;
        border-radius: 5px;
        border: solid 1px #6c6159;
        background-color: #fffdf2;
        color: #6c6159;
        &:hover {
            border: solid 1px black;
            background-color: #6c6159;
            color: #fff;
            text-decoration: none;
        }
    }

    .noBorder {
        border: solid 0px #fff;
    }

    .img-gitlab {
        width: 350px;
        display: block;
        img {
            width: 100%;
            display: block;
        }
    }

}
