{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1 class="mt-5 mb-4">Supprimer mon compte démo symfony ?</h1>

        <p class="center">
            <a href="{{ path('homepage') }}" class="btn btn-primary mr-5">NON</a>
            <a href="{{ path('delete_account') }}" class="btn btn-danger ml-5">OUI</a>
        </p>

{% endblock %}
