{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5">Connexion</h1>
    <div class="container">
        <form action="{{ path('connexion_page') }}" method="post">
            <div class="form-group">
                <label for="email">Email : </label>
                <input type="text" class="form-control" name="_username">
            </div>
            <div class="form-group">
                <label for="password">Mot de passe :</label>
                <input type="password" class="form-control" name="_password">
            </div>
            <div class="center">
                <p class="center mb-5"><input type="submit" class="btn btn-succes" value="Se connecter"></p>
            </div>
        </form>

        <p class="center">Mot de passe oublié ? <a href="{{ path('password') }}">Changer mon mot de passe</a></p>
        <p class="center">Pas encore inscrit ? <a href="{{ path('inscription_page') }}">S'inscrire</a></p>
        <p class="center"><a href="{{ path('homepage')}}" class="btn btn-back">retour à l'accueil</a></p>

    </div>




{% endblock %}