{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5 font mb-5">
        {% if isExist == 0 %}
            Ajouter une recette
        {% else %}
            Modifier {{ recipe.title }}
        {% endif %}
    </h1>

    <div class="container">

        {{ form_start(form) }}

        <div class="error">
            {{ form_errors(form) }}
        </div>
        {% if isExist == 0 %}
        <div class="form-group error">
            {{ form_row(form.imageFile) }}
        </div>
        {% endif %}
        <div class="form-group">
            {{ form_row(form.title, {'label':"Titre :", 'attr':{'value' : oldTitle , 'class': "form-control"}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.ingredients, {'label':"Ingrédients :",'value' : oldIngredients, 'attr':{'class': "form-control"}}) }}
        </div>

        <div class="form-group">
            {{ form_row(form.process, {'label':"Préparation :",'value' : oldProcess, 'attr':{'class': "form-control"}}) }}
        </div>

        <div class="center mb-5">
            {% if isExist == 0 %}
                {{ form_row(form.save, {'label':'Ajouter','attr':{'class': "btn btn-succes"}})}}
            {% else %}
                {{ form_row(form.save, {'label':'Modifier','attr':{'class': "btn btn-succes"}})}}
            {% endif %}
        </div>

        {{ form_end(form) }}

        <p class="center"><a href="{{ path('recipes_list')}}" class="btn btn-back">retour à la liste</a></p>

    </div>

{% endblock %}