{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5">Votre nouveau mot de passe</h1>
    <div class="container">
        <form action="{{ path('create_password', {'token':token, 'info':info }) }}" method="post">

            {% if message != NULL %}
                <p class="center" {% if color != NULL %}style="color:{{ color }}"{% endif %}>{{ message }}</p>
            {% endif %}

            <div class="error">
                {{ form_errors(form.password) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password, {'label':"Nouveau mot de passe :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.confirm_password, {'label':"Confirmez le mote de passe :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="center mb-5">
                {{ form_row(form.send, {'label':"Envoyer", 'attr':{'class': "btn btn-succes"}})}}
            </div>
        </form>

        <p class="center"><a href="{{ path('homepage')}}" class="btn btn-back">retour à l'accueil</a></p>

    </div>

{% endblock %}