{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <img src="{{ asset('uploads/' ~ image) }}" alt="{{ recipe.title }}" class="image mt-5">

        <h1 class="mt-5 mb-4">Supprimer la recette : {{ recipe.title }} ?</h1>

        <form action="{{ path('delete_recipe', {'id': recipe.id}) }}" method="post">

            <div class="form-group">
                <p class="center mb-5">
                    <a href="{{ path('recipes_list') }}" class="btn btn-primary mr-5">NON</a>
                    <a href="{{ path('delete',{'id':recipe.id}) }}" class="btn btn-danger ml-5">OUI</a>
                </p>
            </div>
        </form>


        <p class="center"><a href="{{ path('recipes_list') }}" class="btn btn-back">Retour à la liste</a></p>

    </div>

{% endblock %}
