{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 class="mt-5 mb-4">Démo Symfony</h1>

        <p class="center">Ceci est une démonstration, afin de montrer les bases de Symfony (v3.4)</p>

        {% if app.user %}
            {% if app.user.role == 'ROLE_ADMIN' %}
                <p class="center">Administrateur</p>
             {% endif %}
        {% endif %}

        <div class="center">
            <a href="https://gitlab.com/eric1209/demo-symfony-recette/tree/master" class="img-gitlab" target="_blank">
                <img src="{{ asset('images/gitlab.png') }}" alt="gitlab">
            </a>
        </div>

        <p class="center mb-4">Pour voir le repo cliquez sur le lien ci-dessus</p>

        <h2 class="mb-3 font">Recettes de cuisine</h2>

        <p class="center">Créez un compte et ajouter vos recettes !</p>

        <p class="center"><a href="{{ path('recipes_list') }}" class="s28 font">Voir les recettes de cuisines</a></p>

        {% if app.user %}
            <p class="center"><a href="{{ path('create_recipe') }}" class="btn btn-back mt-4">Ajouter une recette</a></p>
        {% endif %}

        {% if not app.user %}
             <p class="center"><a href="{{ path('inscription_page') }}" class="btn btn-back">s'inscrire</a></p>
        {% endif %}

        {% if app.user %}
            {% if app.user.role == 'ROLE_USER' %}
                <p class="center mt-5"><a class="btn btn-danger" href="{{ path('confirm_delete_account') }}">Supprimer mon compte démo</a></p>
            {% endif %}
        {% endif %}

    </div>

{% endblock %}
