{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1 mt-5>Inscription</h1>

        {{ form_start(form) }}

            <div class="error">
                {{ form_errors(form) }}
            </div>

            <div class="form-group">
                {{ form_row(form.username, {'label':"Votre Pseudo :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email, {'label':"Votre Email :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.password, {'label':"Mot de passe :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="form-group">
                {{ form_row(form.confirm_password, {'label':"Confirmez le mot de passe :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="center mb-5">
                {{ form_row(form.save, {'label':"Je m\'inscris", 'attr':{'class': "btn btn-succes"}})}}
            </div>


        {{ form_end(form) }}

        <p class="center"><a href="{{ path('homepage')}}" class="btn btn-back">retour à l'accueil</a></p>

    </div>

{% endblock %}
