{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5">Entrez votre adresse email</h1>
    <div class="container">
        <form action="{{ path('password', {'info':info}) }}" method="post">
            {% if message != NULL %}
                <p class="center" {% if color != NULL %}style="color:{{ color }}"{% endif %}>{{ message }}</p>
            {% endif %}
            <div class="error">
                {{ form_errors(form.email) }}
            </div>
            <div class="form-group">
                {{ form_row(form.email, {'label':"Votre Email :",'attr':{'class': "form-control"}}) }}
            </div>
            <div class="center mb-5">
                {{ form_row(form.send, {'label':"Envoyer", 'attr':{'class': "btn btn-succes"}})}}
            </div>
        </form>

        <p class="center"><a href="{{ path('homepage')}}" class="btn btn-back">retour à l'accueil</a></p>

    </div>




{% endblock %}