{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <h1 class="mt-5 mb-4 font">Liste des recettes</h1>
        <div class="cadre">
            {% set i = 0 %}
            {% for recipe in recipes %}
                {% set i = i + 1 %}
                <p class="inherit">
                    {{ i }} - <a class="recipe-list" href="{{ path('recipe', { 'id':recipe.id }) }}">{{ recipe.title }}</a>
                </p>
            {% endfor %}

            {% if (isNotExist) %}
                <p class="center">Aucune recette de disponible !</p>
            {% endif %}

        </div>

        <p class="center"><a href="{{ path('homepage') }}" class="btn-back">Retour</a></p>

    </div>

{% endblock %}
