{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">

        <img src="{{ asset('uploads/' ~ image) }}" alt="{{ recipe.title }}" class="image mt-5">

        <h1 class="mt-5 mb-4 font">{{ recipe.title }}</h1>

        <p class="center">Posté par : {{ author.username }}</p>

        <h2 class="font">Ingrédients</h2>

        <p class="center">{{ recipe.ingredients }}</p>

        <h2 class="font">Préparation</h2>

        <p class="center">{{ recipe.process }}</p>

        {% if app.user %}

            {% if app.user.id == recipe.user.id or app.user.role == 'ROLE_ADMIN' %}
                <p class="center"><a href="{{ path('update_recipe', { 'id':recipe.id }) }}" class="btn btn-primary mt-5">Modifier la recette</a></p>
                <p class="center"><a href="{{ path('delete_recipe', { 'id':recipe.id }) }}" class="btn btn-danger">Supprimer la recette</a></p>
            {% endif %}
        {% endif %}

        <p class="center"><a href="{{ path('recipes_list') }}" class="btn btn-back mt-5">Retour à la liste</a></p>

    </div>

{% endblock %}
