{% extends 'base.html.twig' %}

{% block body %}

    <h1 class="mt-5 mb-4">{{ title }}</h1>
    <p class="center mb-5">{{ message }}</p>

    <p class="center"><a href="{{ path('homepage') }}" class="btn-back">Retour</a></p>

{% endblock %}
