{% extends 'base.html.twig' %}

{% block body %}

<div class="container">
    <h1>Création du compte</h1>
    <h2>Vous avez reçu un email</h2>

    <p>Pour valider votre compte, vous devez cliquer sur le lien reçu dans votre boite email (si vous n'avez rien reçu vérifiez votre courrier indésirable ou spam !)</p>

</div>

{% endblock %}
