{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <h1 class="mt-5">Compte activé</h1>

    <p class="center"><a href="{{ path('connexion_page') }}" class="btn btn-back">Se connecter</a></p>

</div>

{% endblock %}
