{% extends 'base.html.twig' %}

{% block body %}

    <h1>voulez-vous supprimer cet utilisateur ?</h1>
    <h2>{{ user.username }}</h2>
    <h3>{{ user.email }}</h3>

    <p class="center">
        <a href="{{ path('show_users') }}" class="btn btn-primary mr-5">NON</a>
        <a href="{{ path('delete_user',{'id':user.id}) }}" class="btn btn-danger ml-5">OUI</a>
    </p>

{% endblock %}