{% extends 'base.html.twig' %}

{% block body %}

    <h1>Liste utilisateurs</h1>

        <table class="table">
            <thead>
            <tr>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
            </thead>
         {% for user in users %}
             {% if user.role == 'ROLE_USER' %}
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td><a href="{{ path('delete_user_confirm', { 'id':user.id }) }}">Supprimer</a></td>
                </tr>
                </tbody>
             {% endif %}
         {% endfor %}
        </table>
    
    <p class="center"><a class="btn btn-secondary" href="{{ path('homepage') }}">Retour</a></p>

{% endblock %}