body h1 {
  color: #2073bf;
  text-align: center;
}
body h2 {
  color: #2073bf;
  text-align: center;
}
body .s28 {
  font-size: 28px;
}
body .font {
  font-family: 'Dancing Script', cursive;
}
body .cadre {
  overflow: hidden;
  width: 400px;
  margin: 0 auto;
  border-radius: 15px;
  border: solid 3px #6c6159;
  padding: 10px;
  margin-bottom: 60px;
  background-color: #fffdf2;
  padding-left: 120px;
}
body .center {
  text-align: center !important;
}
body .centrer {
  margin: 0 auto !important;
}
body .inherit {
  text-align: inherit !important;
}
body .error ul li {
  list-style: none;
  color: #ff6b00;
}
body .image {
  display: block;
  width: 350px;
  margin: 0 auto;
  border-radius: 5px;
  border: solid 2px #AA3333;
}
body .recipe-list {
  font-family: 'Dancing Script', cursive;
  font-size: 18px;
  color: black;
}
body .recipe-list:hover {
  color: orchid;
  text-decoration: none;
}
body .btn-back {
  padding: 10px 15px;
  font-family: 'Courgette', cursive;
  border-radius: 5px;
  border: solid 1px #6c6159;
  background-color: #fffdf2;
  color: #6c6159;
}
body .btn-back:hover {
  border: solid 1px black;
  background-color: #6c6159;
  color: #fff;
  text-decoration: none;
}
body .noBorder {
  border: solid 0px #fff;
}

/*# sourceMappingURL=design.css.map */
